Package: vmguest-prom-exporter
Version: 0.0.10
Priority:
Architecture: all
Essential:
Depends: python3-prometheus-client
Pre-depends:
Suggests:
Installed-Size:
Maintainer: TKS
Conflicts:
Replaces:
Provides:
Description: Tool to provide metrics from vmware
